@tailwind base;
@tailwind components;
@tailwind utilities;
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  width: 5px; /* Change the width of the scrollbar */
}

::-webkit-scrollbar-thumb:hover {
  background: #4a6572; /* Change the color on hover */
}
